* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* p, li, pre, ul, span, h4, h5, button {
    padding: 10px !important;
    font-size: 1.5rem !important; */
}
h1 {
    padding: 10px !important;
    font-size: 2.5rem !important;
}

h2 {
    padding: 10px !important;
    font-size: 2rem !important;
}

h3 {
    padding: 10px !important;
    font-size: 1.9rem !important;
}

img{
    width: 100%
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #546d78;
    color: white;
    padding: 30px;

}

.header-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.avatar img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 0 1px;
}

.info h1 {
    margin-bottom: 10px;
    font-size: 24px;
    padding: 0 1px;
}

.info p {
    margin: 0;
    font-size: 16px;
    padding: 0 1px;
}

aside {
    width: 250px;
    background-color: #e1e1e1;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin-bottom: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #546d78;
}

main {
    flex: 1;
    padding: 20px !important;
}

.nav-readme{
    position: fixed;
    background-color: #546d78;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.nav-readme a, #url-website {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav-readme a:hover, #url-website:hover {
    text-decoration: underline;
}

.main-readme{
    padding: 0 52px !important;

}

#readme-content{
    padding: 47px 18px;
}

.content-readme{
    max-width:1490px;
    padding: 0 40px !important;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#repo-list {
    list-style-type: none;
    margin-top: 6px;
    width: 1000px;
}
pre{
    background-color: #f4f4f4;
    padding: 15px 10px !important;
    border-radius: 5px;
    overflow-x: auto;
}
#repo-list li {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#repo-list li span {
    font-size: 16px;
}

#repo-list li span a {
    color: #0366d6;
    text-decoration: none;
}

#readme-repo{
    margin: 0 40px !important;

}

#readme-repo a {
    color: #0366d6;
    text-decoration: none;
}

#readme-repo a:hover {
    text-decoration: underline;
}

#repo-list li span a:hover {
    text-decoration: underline;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 960px;
}

#pagination button {
    background-color: #0366d6;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#pagination span {
    font-size: 16px;
}
footer {
    background-color: #546d78;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin: 0;
    padding: 1rem;
}   


#prev:hover, #next:hover {
    background-color: rgba(39, 39, 18, 0.8);
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }
    header {
        padding: 20px;
        height: auto;
    }

    p, li, pre, ul, span, h4, h5, button {
        padding: 10px !important;
        font-size: .7rem !important;
    }
    h1 {
        font-size: 1.5rem !important;
    }
    
    h2 {
        font-size: 1rem !important;
    }

    .main-readme{
        padding: 0 !important;
    }
    .content-readme{
        padding: 0 !important;
    }

    .avatar img {
        width: 60px;
        height: 60px;
    }

    .info h1 {
        font-size: 20px;
    }

    .info p {
        font-size: 14px;
    }

    aside {
        width: 200px;
    }

    main {
        padding: 10px;
    }
    #repo-list{
        width: 100%
    }

    #repo-list li {
        padding: 10px;
    }

    #repo-list li span {
        font-size: 14px;
    }
    #pagination{
        width: 100%;
    }
    #pagination button {
        margin-bottom: 10px;
    }

    li {
        flex-direction: column;
    }
    .nav-readme {
        width: 100%;
    }
}
